@mixin before_circle {
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    z-index: -1;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: $dark-pink-color;
  }
}

@mixin navy-blue_circle {
  z-index: 1;
  &:before {
    background-color: $navy-blue-color;
  }
}