@mixin before_circle {
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    z-index: -1;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: $dark-pink-color;
  }
}

@mixin navy-blue_circle {
  z-index: 1;
  &:before {
    background-color: $navy-blue-color;
  }
}

@mixin skills_circle {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid $white-color;
  }
}

@mixin advanced_skill {
  &:before {
    background-color: rgb(8, 96, 8);
  }
}

@mixin intermediate_skill {
  &:before {
    background-color: rgb(9, 185, 9);
  }
}

@mixin advanced_beginner {
  &:before {
    background-color: rgb(220, 114, 32);
  }
}

@mixin beginner {
  &:before {
    background-color: rgb(255, 0, 0);
  }
}