{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"requirePragma": false,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^.*\\.css$",
		"^.*\\.props$",
		"^@/config$",
		"^@/i18n$",
		"^@/i18n/.*$",
		"^@/app/.*$",
		"^@/shared/.*$",
		"^@/widgets$",
		"^@/widgets/.*$",
		"^@/features/.*$",
		"^@/API$",
		"^@/redux$",
		"^@/types$",
		"^@/hooks$",
		"^@/utils$",
		"^@/constants",
		"^@/schemes$",
		"^@/middleware$",
		"^.*\\.svg?url$",
		"^.*\\.svg$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true
}
