.photo {
	position: relative;
	z-index: 1;
	grid-row: 1/3;
}

.photo img {
	object-fit: cover;
	border-radius: 15px;
	border: 1px solid #fff;
}

.wrapper {
	position: relative;
}

.wrapper img {
	width: 100%;
	height: auto;
}

.wrapper::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: var(--navy-blue-color);
	top: -25px;
	left: -25px;
	border-radius: 15px;
}

@media screen and (width <= 991px) {
	.photo {
		width: 400px;
		place-self: center;
		margin: 40px 0;
		grid-row: 3/3;
	}

	.photo img {
		object-fit: cover;
	}

	.wrapper::before {
		top: -20px;
		left: -20px;
	}
}

@media screen and (width <= 575px) {
	.photo {
		width: 280px;
	}

	.wrapper::before {
		top: -15px;
		left: -15px;
	}
}

@media screen and (width <= 390px) {
	.photo {
		width: 250px;
	}
}
