.item {
	display: grid;
	grid-template: minmax(21px, auto) 14px / 240px 45px;
	place-content: space-between space-between;
}

.item .title {
	letter-spacing: 1px;
}

.line {
	width: 100%;
	height: 14px;
	border-radius: 4px;
	background: #e8e4de;
	grid-column: 1 / 3;
}

.line span {
	display: block;
	height: 100%;
	border-radius: 4px;
	background: var(--pink-color);
	width: 0;
	transition: width 2s ease-in-out;
}
