.wrapper {
	display: grid;
	grid-template-columns: 40px 1fr;
	column-gap: 10px;
}

.wrapper img {
	margin-top: 7px;
}

.image {
	position: relative;
	z-index: 1;
}

.imagle::before {
	content: "";
	position: absolute;
	top: -5px;
	left: -10px;
	z-index: -1;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background-color: var(--navy-blue-color);
}

.description {
	margin-top: 10px;
}

@media screen and (width <= 1280px) {
	.wrapper {
		grid-template-columns: 30px 1fr;
		column-gap: 15px;
	}
}

@media screen and (width <= 991px) {
	.wrapper {
		column-gap: 10px;
	}
}

@media screen and (width <= 767px) {
	.wrapper {
		column-gap: 10px;
	}
}

@media screen and (width <= 575px) {
	.wrapper {
		grid-template-columns: 30px auto;
		column-gap: 15px;
	}

	.description {
		font-size: 14px;
	}
}
