.experience {
  padding: 120px 0;
  background-color: $navy-blue-color;
  &__title {
    text-align: center;
    @include before_circle;
    &:before {
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    text-align: center;
  }
  &__wrapper {
    padding: 60px 65px 0 65px;
    display: grid;
    grid-template-columns: repeat(2, 425px);
    column-gap: 135px;
  }
  &__column{
    &-title {
      position: relative;
      padding-left: 35px;
      &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -7px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 100%;
        background: $dark-pink-color;
      }
    }
    ul {
      list-style-type: none;
      li {
        position: relative;
        &:after {
          content: '';
          width: 1px;
          height: calc(100% + 16px);
          position: absolute;
          top: -15px;
          left: 0;
          background-color: $white-color;
        }
      }
    }
  }
  &__item {
    position: relative;
    &:before {
      content: '';
      height: 1px;
      width: 45px;
      position: absolute;
      background-color: $white-color;
      top: 73px;
    }
    &-head {
      position: relative;
      padding: 45px 0 0 100px;
      h4 {
        margin-bottom: 0;
      }
    }
    &-body {
      padding: 12px 0 0 43px;
      font-size: 16px;
      line-height: 25px;
      color: $white-color;
    }
    &-icon {
      @include before_circle;
      position: absolute;
      top: 55px;
      left: 45px;
      img {
        position: absolute;
        left: 17px;
        top: 14px;
      }
    }
    &-location {
      margin-top: 5px;
      font-size: 15px;
      line-height: 18px;
      color: $pink-color;
    }
  }
}