.footer {
  padding: 20px 0 40px 0;
  background-color: $dark-pink-color;
  &__quote {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
  }
  &__social {
    margin: 0 auto;
    margin-top: 38px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    &-item {
      img {
        width: 40px;
        transition: all .89s ease;
      }
      &:hover {
        img {
          transition: all .89s ease;
          transform: rotateY(180deg);
        }
      }
    }
  }
  &__btns {
    margin: 0 auto;
    margin-top: 30px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }
  &__link {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    transition: all 0.8s ease;
    a {
      color: $white-color;
      text-decoration: none;
    }
    &:hover {
      transition: all 0.8s ease;
      box-shadow: 3px 3px 3px $pink-color;
      a {
        transition: all 0.8s ease;
        color: $pink-color;
      }
    }
  }
  &__menu {
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
    &-list {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      list-style-type: none;
      a {
        color: $white-color;
        font-size: 18px;
        &:hover {
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
  &__copyright {
    margin-top: 25px;
    font-weight: 700;
    text-align: center;
    color: $white-color;
    font-size: 20px;
  }
}