.portfolio {
  padding: 120px 0;
  background-color: $navy-blue-color;
  &__title {
    text-align: center;
    @include before_circle;
    &:before {
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    text-align: center;
  }
  &__wrapper {
    transition: all .66s;
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px);
    grid-template-rows: 280px;
    gap: 5px;
  }
  &__item {
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    transition: all .7s ease;
    img {
      transition: all .7s ease;
    }
    &:hover {
      img {
        transform: scale(1.2);
        filter: contrast(120%);
        transition: all .7s ease;
      }
    }
  }
  .vertical {
    grid-column: 4;
    grid-row: 1/3;
  }
  .horizontal {
    grid-column: 2/4;
    grid-row: 2;
  }
}