.headerWave {
	position: absolute;
	bottom: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.footerWave {
	line-height: 0;
	margin: 0;
	padding: 0;
	padding-top: 40px;
	background-color: var(--navy-blue-color);
}

.menuWave {
	height: 100%;
	z-index: 501;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.menuWave svg {
	height: 100%;
	width: auto;
}

.darkPink path {
	fill: var(--dark-pink-color);
}

.navyBlue path {
	fill: var(--navy-blue-color);
}

.navyWaveBackground {
	line-height: 0;
	margin: 0;
	padding: 0;
	clip-path: inset(-1px 0 -1px 0);
}

.darkWaveBackground {
	line-height: 0;
	margin: 0;
	padding: 0;
	clip-path: inset(-1px 0 -1px 0);
}

.transformDown {
	transform: translateY(5px);
}

.transformUp {
	transform: translateY(-5px);
}

.transformLeft {
	transform: translateX(-5px);
}
