.wrapper {
	height: calc(100vh - 205px);
	position: relative;
	padding-top: 205px;
}

.title {
	max-width: 835px;
	margin-top: 10px;
}

.buttons {
	margin-top: 25px;
	display: flex;
	justify-content: flex-start;
	gap: 40px;
	align-items: center;
}
