.promo {
	height: 100vh;
	position: relative;
	padding-top: 205px;
	&__title {
		max-width: 835px;
		margin-top: 10px;
	}
	&__name {
		padding-left: 10px;
		@include before_circle;
	}
	&__btns {
		margin-top: 25px;
		width: 250px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__link {
		font-size: 17px;
		line-height: 22px;
		font-weight: 700;
		a {
			transition: all 0.8s;
			color: $white-color;
			text-decoration: none;
			&:hover {
				color: $pink-color;
				text-decoration: none;
			}
		}
		&:nth-child(1) {
			a:hover {
				transition: all 0.8s;
				color: $gray-color;
			}
		}
	}
}
