.sidepanel {
	position: fixed;
	top: 205px;
	left: 30px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 3;
	&__link {
		img {
			width: 35px;
			transition: all 0.66s;
			&:hover {
				transform: rotate(-90deg);
			}
		}
	}
	&__devider {
		width: 2px;
		height: 70px;
		background-color: $white-color;
	}
	&__text {
		height: 25px;
		width: 150px;
		color: #000;
		font-size: 16px;
		font-weight: 600;
		color: $white-color;
		span {
			display: block;
			width: 150px;
			transform: rotate(-90deg) translate(-22%, -10%);
		}
	}
}
