.wrapper {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all 0.66s;
	display: flex;
	flex-direction: row;
}

.active {
	visibility: visible;
	opacity: 1;
	left: 0;
}

.menu {
	position: relative;
	width: 345px;
	background-color: var(--dark-pink-color);
	height: 100%;
	padding-top: 140px;
	padding-left: 40px;
	transition: all 0.66s;
	z-index: 502;
}

.wave {
	height: 100%;
	z-index: 501;
}

.wave svg {
	height: 100%;
	width: auto;
}

.close {
	position: absolute;
	top: 25px;
	right: -10px;
}

.list {
	list-style-type: none;
	padding-left: 35px;
}

.list .link {
	position: relative;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 18px;
}

.list a {
	color: var(--white-color);
	text-decoration: none;
}

.list a::before {
	content: "";
	position: absolute;
	left: -25px;
	top: 7px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	border: 1px solid var(--white-color);
	transition: all 0.66s;
}

.list a:hover::before {
	background-color: var(--pink-color);
}

.social {
	width: 220px;
	position: absolute;
	bottom: 180px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social a img {
	width: 30px;
}

.overlay {
	z-index: 500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white-color);
	opacity: 0.7;
}
