@media screen and (max-width: 319px) {
  .button {
    &_main {
      width: 250px;
    }
  }
  .slider {
    &__inner {
      width: 250px;
    }
  }
  .catalog {
    &-item {
      width: 260px;
      &__subtitle {
        margin-top: 22px;
        font-size: 14px;
      }
      &__descr {
        margin-top: 22px;
        font-size: 12px;
      }
      &__link {
        font-size: 13px;
      }
      hr {
        margin-top: 21px;
      }
      &__old-price {
        font-size: 12px;
      }
      &__price {
        font-size: 16px;
      }
      &__list {
        li {
          font-size: 12px;
        }
      }
    }
    &__tab {
      width: 230px;
    }
  }
  .title_black {
    font-size: 16px;
  }
  .reviews {
    &-item {
      &__content {
        width: 250px;
      }
    }
  }

  .modal {
    width: 210px;
    padding: 19px 15px 15px 15px;
    &__subtitle {
      font-size: 12px;
    }
    &__descr {
      font-size: 10px;
    }
    .feed-form {
      width: 180px;
      input {
        height: 34px;
        font-size: 11px;
      }
      button {
        height: 34px;
        font-size: 11px;
      }
    }
  }
}