.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url('../img/backgrounds/promo_bg.svg') center (center/cover) no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
  }
  &__header {
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subheader {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__icons {
    margin-top: 60px;
    width: 424px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 106px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    margin-top: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    a {
      color: #FFF;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
  }
}