.header {
	position: relative;
	padding: 45px 0 0 100px;
}

.header h5 {
	margin-bottom: 0;
}

.icon {
	position: absolute;
	top: 55px;
	left: 45px;
	z-index: 1;
}

.icon::before {
	content: "";
	position: absolute;
	top: -20%;
	left: 0;
	z-index: -1;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background-color: var(--dark-pink-color);
}

.icon img {
	position: absolute;
	left: 17px;
	top: 14px;
}

.location {
	margin-top: 5px;
	font-size: 15px;
	line-height: 18px;
	color: var(--pink-color);
}

.body {
	padding: 12px 0 0 43px;
	font-size: 16px;
	line-height: 25px;
	color: var(--white-color);
}

.item {
	position: relative;
}

.item::before {
	content: "";
	height: 1px;
	width: 45px;
	position: absolute;
	background-color: var(--white-color);
	top: 73px;
}

@media screen and (width <= 991px) {
	.body {
		padding: 12px 0 0 43px;
		font-size: 14px;
		line-height: 22px;
	}
}

@media screen and (width <= 575px) {
	.header {
		position: relative;
		padding: 45px 0 0 80px;
	}

	.item::before {
		width: 25px;
	}

	.head {
		padding: 45px 0 0 80px;
	}

	.body {
		padding: 15px 0 0 23px;
	}

	.icon {
		position: absolute;
		top: 55px;
		left: 25px;
	}

	.icon img {
		position: absolute;
		left: 17px;
		top: 14px;
	}

	.location {
		font-size: 12px;
		line-height: 18px;
	}
}
