:root {
	--pink-color: #fc85ae;
	--dark-pink-color: #9e579d;
	--navy-blue-color: #574b90;
	--gray-color: #303a52;
	--white-color: #fff;
	--scrollbar-track-color: #b659b3;
	--scrollbar-thumb-color: var(--pink-color);
}

* {
	/* cursor: none !important; */

	scroll-behavior: smooth;
	user-select: none;
	font-family: var(--font-quicksand), sans-serif;
	margin: 0;
	padding: 0;

	::-webkit-scrollbar {
		width: 7px;
	}

	::-webkit-scrollbar-track {
		background-color: var(--scrollbar-track-color);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-color);
		border-radius: 50px;
	}
}

canvas {
	display: block;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.divider {
	width: 100px;
	height: 3px;
	background-color: var(--navy-blue-color);
}

.divider.darkPink {
	background-color: var(--dark-pink-color);
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}
