.multichain {
  &__info {
    padding-left: 30px;
    &_title {
      color: #333;
      font-size: 37px;
      letter-spacing: 1px;
    }
    &_descr {
      color: rgba(0, 0, 0, 0.60);
      font-family: Outfit;
      font-size: 18px;
    }
  }
}

.slider {
  height: 98px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  margin-top: 80px;
  .slide_track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(241px*16);
    .slide {
      padding-left: 25px;
      width: 241px;
      height: 98px;
      border-radius: 50px;
      margin-left: 16px;
      display: flex;
      align-items: center;
      img {
        height: 59px;
      }
      &:nth-child(even) {
        background: rgba(180, 185, 201, 0.1);
      }
      &__title {
        margin-left: 32px;
        color: #2A3030;
        text-align: center;
        font-family: Syne;
        font-size: 14px;
        font-style: normal;
        text-transform: uppercase;
      }
    }
  }
  &_second {
    margin-top: 20px;
    padding-bottom: 250px;
    .slide_track {
      .slide {
        &:nth-child(odd) {
          background: rgba(180, 185, 201, 0.1);
        }
        &:nth-child(even) {
          background: #fff;
        }
      }
    }
  }
}