.title {
	color: var(--white-color);
	font-weight: 700;
	position: relative;
	z-index: 1;
}

.beforeCircle {
	letter-spacing: 3px;
	padding-left: 10px;
	position: relative;
	z-index: 1;
}

.beforeCircle::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	z-index: -1;
	width: 36px;
	height: 36px;
	border-radius: 100%;
}

.darkPinkCircle::before {
	background-color: var(--dark-pink-color);
}

.navyBlueCircle::before {
	background-color: var(--navy-blue-color);
}

.center {
	padding-left: 0;
	text-align: center;
}

.center::before {
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
}

.fz18 {
	font-size: 18px;
	line-height: 25px;
}

.fz22 {
	font-size: 22px;
}

.fz20 {
	font-size: 20px;
}

.fz48 {
	font-size: 48px;
	letter-spacing: 2px;
}

.fz56 {
	font-size: 56px;
	line-height: 60px;
}

.fz72 {
	font-size: 72px;
	line-height: 80px;
}

.fz36 {
	font-size: 36px;
	line-height: 60px;
}

.fz16 {
	font-size: 16px;
}

@media screen and (width <= 1280px) {
	.fz18 {
		font-size: 16px;
		line-height: 23px;
	}

	.fz22 {
		font-size: 18px;
	}

	.fz20 {
		font-size: 18px;
	}

	.fz48 {
		font-size: 46px;
		letter-spacing: 2px;
	}

	.fz56 {
		font-size: 52px;
		line-height: 60px;
	}

	.fz72 {
		font-size: 66px;
		line-height: 66px;
	}

	.fz36 {
		font-size: 32px;
		line-height: 45px;
	}
}

@media screen and (width <= 991px) {
	.fz72 {
		font-size: 52px;
	}

	.fz48 {
		font-size: 32px;
	}
}

@media screen and (width <= 767px) {
	.beforeCircle {
		letter-spacing: 1px;
		padding-left: -10px;
	}

	.beforeCircle::before {
		width: 25px;
		height: 25px;
	}

	.center::before {
		top: 0;
	}

	.fz72 {
		font-size: 38px;
	}

	.fz18 {
		font-size: 16px;
	}
}

@media screen and (width <= 575px) {
	.fz72 {
		font-size: 26px;
	}

	.fz48 {
		font-size: 30px;
	}

	.fz22 {
		font-size: 16px;
	}

	.fz16 {
		font-size: 13px;
	}
}

@media screen and (width <= 362px) {
	.fz48 {
		font-size: 25px;
	}
}
