.accordion {
	width: 100%;
	margin: 60px auto 0;
}

.category {
	margin-bottom: 10px;
	overflow: hidden;
}

.header {
	letter-spacing: 1px;
	color: var(--white-color);
	background-color: var(--navy-blue-color);
	width: 100%;
	padding: 15px 30px;
	border: none;
	border-radius: 40px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

.header h2 {
	margin: 0;
	font-size: 18px;
}

.header .arrow {
	transition: transform 0.3s ease;
}

.arrow.open {
	transform: rotate(180deg);
}

.content {
	max-height: 0;
	overflow: hidden;
	transition:
		max-height 0.3s ease,
		padding 0.3s ease;
}

.content.open {
	max-height: fit-content;
	padding: 15px;
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
	padding: 30px 0;
	display: grid;
	grid-template: repeat(1, 200px) / repeat(5, 200px);
	grid-auto-rows: 200px;
	gap: 20px;
}

@media screen and (width <= 1280px) {
	.wrapper {
		width: 860px;
		grid-template: repeat(2, 200px) / repeat(4, 200px);
	}
}

@media screen and (width <= 991px) {
	.wrapper {
		width: 640px;
		grid-template: repeat(2, 200px) / repeat(3, 200px);
	}
}

@media screen and (width <= 767px) {
	.wrapper {
		width: 420px;
		grid-template: repeat(2, 200px) / repeat(2, 200px);
	}
}

@media screen and (width <= 575px) {
	.wrapper {
		width: 200px;
		grid-template: repeat(2, 200px) / 200px;
	}

	.header {
		letter-spacing: 1px;
		padding: 10px 25px;
		border-radius: 30px;
		font-size: 16px;
	}

	.header h2 {
		font-size: 16px;
	}

	.accordion {
		width: 90%;
	}
}
