.title {
  text-align: center;
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  &_left {
    text-align: left;
  }
  &_black {
    color: #0D0D0D;
    font-size: 30px;
    font-weight: 400;
  }
  &_bold {
    font-weight: 700;
  }
}