@media screen and (max-width: 575px) {
  .header {
    flex-direction: column;
    &__logo {
      width: 260px;
    }
    &__official {
      margin-top: 15px;
      font-size: 16px;
      span {
        font-size: 14px;
      }
    }
    &__phone {
      margin-top: 15px;
      font-size: 14px;
    }
    .button {
      margin-top: 5px;
      font-size: 10px;
    }
  }
  .promo {
    &__wrapper {
      margin: 0px 10px;
      align-items: center;
      margin-top: 60px;
    }
    &__header {
      font-size: 24px;
      text-align: center;
    }
    &__subheader {
      font-size: 18px;
      text-align: center;
    }
    &__icons {
      margin-top: 50px;
      width: 260px;
    }
    &__icon {
      width: 60px;
      font-size: 12px;
    }
    &__link {
      font-size: 13px;
    }
    .button {
      &__main {
        width: 255px;
        height: 33px;
        font-size: 15px;
      }
    }
  }
  .advantages {
    &__title {
      font-size: 21px;
    }
    &__wrapper {
      margin-top: 20px;
      align-items:center;
      flex-direction: column;
    }
    &__box {
      margin-top: 20px;
      width: 275px;
      &_title {
        margin-top: 5px;
        font-size: 18px;
      }
      &_text {
        margin-top: 5px;
        font-size: 15px;
      }
    }
  }
  .consultation {
    min-height: 580px;
    padding: 80px 10px 108px 10px;
    .title {
      font-size: 17px;
    }
    &__descr {
      font-size: 13px;
    }
    form {
      width: 250px;
      button {
        font-size: 14px;
      }
    }
  }
  .slider {
    &__inner {
      width: 300px;
    }
  }
  .catalog {
    &-item {
      &__old-price {
        font-size: 12px;
      }
      &__price {
        font-size: 16px;
      }
      &__footer {
        .button {
          &_mini {
            width: 111px;
            height: 35px;
            font-size: 13px;
            line-height: 35px;
          }
        }
      }
    }  
    &__tabs {
      flex-direction: column;
    }
    &__tab {
      width: 250px;
      margin: 5px 0;
    }
  }
  .title_black {
    font-size: 20px;
  }
  .catalog {
    padding-bottom: 40px;
  }
  .reviews {
    margin: 0 15px;
    &-item {
      flex-direction: column;
      align-items: center;
      &__img {
        display: block;
        margin: 0 auto;
      }
      &__content {
        margin-top: 30px;
        width: 300px;
      }
      &__name, &__stats {
        text-align: center;
      }
      &__text {
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
  .footer {
    &__info {
      position: relative;
      width: 100%;
      height: 270px;
    }
    &__map {
      iframe {
        height: 250px;
      }
    }
    &__address {
      font-size: 16px;
    }
    &__phone {
      font-size: 18px;
    }
    &__social-item {
      width: 32px;
      height: 32px;
      border: 1px solid #FFF;
      img {
        height: 15px;
      }
      &:hover {
        img {
          height: 18px;
        };
      }
    }
  }

  .modal {
    width: 260px;
    min-height: 250px;
    padding: 19px 15px 15px 15px;
    &__close {
      right: -25px;
      font-size: 30px;
    }
    &__subtitle {
      font-size: 14px;
    }
    &__descr {
      font-size: 11px;
    }
    .feed-form {
      width: 230px;
      input {
        height: 44px;
        font-size: 13px;
      }
      button {
        height: 44px;
        font-size: 13px;
      }
    }
    &_mini {
      min-height: 100px;
    }
  }
}