@media screen and (max-width: 1439px)
    .container 
        max-width: 1200px
    .welcome
        width: 500px
        .header_title
            font-size: 80px
        .header_text
            font-size: 18px
    .aboutUs_menu
        .aboutUs_menu-img
            width: 80%
        .aboutUs_menu-info
            .aboutUs_title
                font-size: 25px
            .aboutUs_text
                font-size: 15px
    .history
        .history-row_pic
            width: 600px
            .history_img
                width: 600px
        .history-row_info
            width: 450px
            .history_title
                font-size: 35px
            .history_text
                font-size: 17px
            .history_date-row
                .history_date
                    width: 200px
    .menu
        .menu-row
            .menu_info-box
                width: 420px
            .menu-row_menu
                width: 630px
                .menu_item 
                    .menu_item-img img
                        width: 70px
                    .menu_item-text
                        .menu_item-name
                            font-size: 20px
                        .menu_item-descr
                            font-size: 14px
                .grey_line
                    width: 40px
                .menu_item-price
                    font-size: 20px
    .news
        .news-post
            width: 500px
            .img_opacity
                .news-img
                    width: 500px
            .news-row_text
                width: 500px
    .footer_main
        padding: 0 40px
        .footer_main-btn
            padding-top: 10px
            .footer_input
                height: 48px
                width: 200px
            .footer_btn
                width: 158px
                height: 48px
                font-size: 17px















        

    

// @media screen and (max-width: 1200px)
//     .container 
//         max-width: 1200px