.home {
	width: 100%;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: var(--dark-pink-color);
}

.page .background {
	font-family: var(--font-quicksand);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 60rem;
	line-height: 60rem;
	position: fixed;
	width: 80vw;
	height: 100%;
	opacity: 0.2;
}

.page h1 {
	margin-bottom: 30px;
}

.page p {
	margin-bottom: 30px;
}
