.item {
	border: 1px solid var(--white-color);
	border-radius: 15px;
	padding: 25px;
	background-color: rgb(87 75 144 / 50%);
	transition: all 0.7s ease;
}

.item:hover {
	box-shadow: 10px 10px 10px rgb(252 133 174 / 70%);
	transform: scale(1.05);
}

.img img {
	transition: all 0.7s ease;
	width: 50%;
	height: 74px;
	transform: rotate(0);
}

.item:hover img {
	transition: all 0.7s ease;
	transform: rotate(-10deg);
}

.name {
	position: relative;
	font-weight: 600;
	margin-bottom: 9px;
}

.name::before {
	content: "";
	position: absolute;
	top: 33px;
	height: 1px;
	width: 100%;
	background-color: var(--white-color);
}

.level {
	margin-top: 20px;
	color: var(--white-color);
	font-size: 15px;
	padding-left: 30px;
	position: relative;
}

.level::before {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	transform: translateY(-50%);
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	border: 1px solid var(--white-color);
}

.advanced::before {
	background-color: rgb(8 96 8);
}

.intermediate::before {
	background-color: rgb(9 185 9);
}

.basic::before {
	background-color: rgb(220 114 32);
}
